GOERLI_RPC_URL="https://goerli.infura.io/v3/..."
PRIVATE_KEY="..."
ETHERSCAN_API_KEY=""
COINMARKETCAP_API_KEY=""
REPORT_GAS=true
CHAINLINK_TOKEN_GOERLI="0x326C977E6efc84E512bB9C30f76E30c160eD06FB"
VRF_COORDINATOR_GOERLI="0x2Ca8E0C643bDe4C2E08ab1fA0da3401AdAD7734D"
VRF_GAS_LANE_GOERLI="0x79d3d8832d904592c0bf9818b621522c988bb8b0c05cdc3b15aea1b6e8db0c15"
TEST_IMAGE_URI="shorturl.at/bvBXZ"